.ang {
    background-color: #ffff00;
}
.xl {
    background-color: #ea9999;
}
.aw {
    background-color: #ead1dc;
}
.mme {
    background-color: #f9cb9c;
}
.tutoria {
    background-color: #ddd9c4;
}
.ao {
    background-color: #b6d7a8;
}
.optatiu {
    background-color: #c1b98d;
}
.som {
    background-color: #c9daf8;
}
.ipo1 {
    background-color: #b4a7d6;
}
.ipo2 {
    background-color: #ffe599;
}
.pati {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
}
